#content_container {
  width: 380px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: 15px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

#content_container:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.content_id {
  font-size: 11px;
  font-weight: 400;
  flex-grow: 1;
}

.content_title {
  font-size: 14px;
  flex-grow: 3;
}

.content_body {
  font-size: 17px;
  flex-grow: 4;
}

#date_container {
  flex-grow: 1;
}

#date_container > span {
  font-size: 10px;
}

.content_btn_container {
  flex-grow: 1;
}
